/*Common classes*/
body {
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Montserrat, Arial, sans-serif;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    color: #000;
    opacity: .5;
}

.button,
.link {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    /*cursor: pointer;*/
}

.button {
    background: none;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.subtitle {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: .07em;
    color: #000;
    opacity: .5;
}

.form__price {
    margin: 0 8px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
.promo__link,
.product__link,
.look__link,
.product__link-others{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

@media (min-width: 992px) {
    .description {
        line-height: 21px;
        font-size: 15px;
        font-weight: normal;
    }

    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 41px;
    }

    .subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .07em;
    }

    .form__price {
        margin-right: 22px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
    }
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    margin: 0;
    padding: 0;
}

.header__logo-link{
    display: flex;
    height: 100%;
}

.header__logo-pic {
    padding: 22px 0 0 29px;
    width: 98px;
    height: 37px;
}

.header__lang-switcher {
    display: none;
}

.header__menu {
    display: flex;
    align-self: flex-end;
    width: 70px;
    height: 70px;
    background: #f5f5f3;
    cursor: pointer;
}

.header__burger {
    align-self: center;
    margin: auto;
}

.header__burger-line {
    display: block;
    width: 26px;
    height: 3px;
    background: #000;
}

.header__burger-line:first-of-type {
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .header {
        min-height: 92px;
    }

    .header__logo-wrap {
        display: flex;
        justify-content: space-between;
        min-width: 461px;
        background: #000;
    }

    .header__logo-pic {
        padding: 42px 0 0 55px;
    }

    .header__lang-switcher {
        position: relative;
        display: block;
        width: 50px;
        align-self: center;
        padding: 14px 20px 0 0;
    }

    .header__lang-ru {
        text-decoration: none;
        cursor: pointer;
        color: #FFF;
        font-weight: 500;
        line-height: normal;
        font-size: 20px
    }

    .header__lang-ru::after {
        position: absolute;
        top: 20px;
        right: 23px;
        display: block;
        content: "";
        width: 7px;
        height: 6px;
        border: 2px solid #FFF;
        border-right-color: transparent;
        border-top-color: transparent;
        -webkit-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }

    .header__menu {
        width: 92px;
        height: 92px;
        margin-right: 0;
    }

    .header__burger-line:first-of-type {
        margin-bottom: 5px;
    }

    .header__burger-line {
        width: 35px;
        height: 4px;
    }
}

/* First(promo) section */

.promo {
    width: 100%;
}

.promo__wrap {
    background-image: url(../images/MainPic_mob.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 0 -55px;
    height: 529px;
    display: flex;
    flex-flow: column;
    justify-content:flex-end;


}

.promo__title {
    z-index: 10;
    padding-left: 26px;
    font-weight: bold;
    line-height: 51px;
    font-size: 50px;
}

.promo__description,
.promo__link,
.promo__social-content1{
    display: none;
}

.promo__social-mob {
    padding: 19px;
    left: 0;
    right: 0;
    width: 28px;
    height: 18px;
    background-image: url(../images/vector_mob.png);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
}
.promo__social-content1{
    flex: 1;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 153px;
    list-style: none;
}

@media (min-width: 992px) {
    .promo {
        background: linear-gradient(to right, #000 461px, #FFF 461px);
        height: 808px;
        display: flex;
        flex-flow: column;
    }

    .promo__wrap {
        height: 716px;
        display: flex;
        align-items: center;
        background-image: none;
        flex-flow: row;
        justify-content: flex-start;
    }

    .promo__social-mob {
        display: none;
    }

    .promo__wrap-img {
        background-image: url(../images/MainPic.png);
        background-repeat: no-repeat;
        z-index: 10;
        height: 562px;
        width: 735px;
        background-position: right;
    }

    .promo__text {
        width: 555px;
        height: 397px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 30px;
    }

    .promo__title {
        padding-left: 0;
        margin-top: 0;
        width: 475px;
        height: 164px;
        font-weight: bold;
        line-height: 82px;
        font-size: 80px;
        text-align: left;

    }
    .promo__description,
    .promo__link,
    .promo__social {
        display: inline-block;
    }

    .promo__description {
        width: 467px;
        opacity: 1;
    }
    .promo__buttons {
        display: flex;
        justify-content: space-between;
        width: 490px;
    }

    .promo__link.button {
        border: 1.5px solid #000;
        text-align: center;
        line-height: 3.5em;
        width: 203px;
    }
    .promo__link.link {
        position: relative;
        width: 232px;
        line-height: 3.5em;
    }

    .promo__link.link::after {
        position: absolute;
        top: 17px;
        right: 0;
        display: block;
        content: "";
        width: 44px;
        height: 12px;
        background-image: url(../images/vector.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .promo__social {
        display: flex;
    }

    .promo__social-content1{
        display: flex;
        flex: 1;
    }

    .social {
        display: flex;
        justify-content: space-between;
        width: 153px;
        list-style: none;
    }

    .scroll {
        flex: 1;
        display: flex;
    }

    .promo__scroll {
        display: flex;
        justify-content: flex-end;
        bottom: 39px;
        height: 46px;
        background-image: url(../images/scrooll.svg);
        background-repeat: no-repeat;
        width: 30px;
    }
}

@media (min-width: 520px ) and (max-width: 991px) {
    .promo__title {
        text-align: center;
    }
}